/* table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    width: 50%; 

} */


input{
    width: 50%;
    border: 1px solid brown;
    padding: 10px;
}
p{
    color: rgb(41, 0, 247);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}


ul{
    list-style-type: lower-greek;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    text-align: center;
    color: coral;
    font-weight: 800;
    font-style:normal;
}

.name{
    background-color: blue;
}
.age{
    height: 50px;
}